<% provide(:title, @admin_user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
     <h1>
      <%= gravatar_for @admin_user %>
     </h1> 
      <p><%= @admin_user.name %></p>
      <p><%= @admin_user.email %></p>
    </section>
  </aside>
</div>