<% provide(:title, @admin_user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
     <h1>
      <%= gravatar_for @admin_user %>
      <%= @admin_user.name %>
     </h1>
    </section>
  </aside>
</div>